
html {
    height:100%;
}
*{box-sizing :border-box;}
body{
    overflow: hidden;
    z-index: 1;
    position: relative;
    height: 100%;
    width:100%;
    display:flex;
    margin: 0;
    padding: 0;
    background-image: url(07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.page-menu-delete {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1099;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(0,0,0,0.4);
}
    .box-menu-delete {
        height:165.8px;
        width:100%;
    }
        .menu-delete {
            border-radius: 3px;
            width: 392px;
            margin: 0 auto;
            background-color: white;
            height:100%;
            display:flex;
            flex-direction: column;
            overflow: hidden;
        }
            .menu-delete .header-menu-delete {
                padding: 24px;
                height:112px;
                width:100%;
            }
                .header-menu-delete .icon-menu-delete {
                    cursor: pointer;
                    background-image: url(app1.png);
                    background-position: -93px 0;
                    width: 64px;
                    height: 64px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .header-menu-delete .cont-menu-delete {
                    width: 275px;
                    padding-left: 20px;
                    display: inline-block;
                    height:38.6px;
                }
                    .cont-menu-delete .h3 {
                        height:17.6px;
                        font-size:15px;
                        line-height: 18px;
                        margin-bottom: 5px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-weight: bold;
                    }
                    .cont-menu-delete .h4 {
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-size: 11px;
                        line-height: 16px;
                    }
            .footer-menu-delete {
                padding: 12px;
                border-top: 1px solid #e0e0df;
                flex-grow:1;
            }
                .footer-menu-delete .box-footer {
                    width:380px;
                    height:28.8px;
                    font-size: 0;
                    margin-left: -6px !important;
                    margin-right: -6px !important;
                    display: inline-flex;
                    padding: 0 6px !important;
                }
                    .box-footer .none {
                        width:20%;
                    }
                    .box-footer .cancel-delete {
                        width:40%;
                        cursor: pointer;
                    }
                        .box-footer .cancel-delete button {
                            width: 90%;
                            height: 100%;
                            cursor: pointer;
                            color: #737272;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 11.2px;
                            padding: 8px 12px;
                            background: #fafafa;
                            border:1px solid #d6d6d6;
                            border-radius: 3px;
                        }
                    .box-footer .delete-delete {
                        width:40%;
                        cursor: pointer;
                    }
                        .box-footer .delete-delete button {
                            width:90%;
                            position: relative;
                            cursor: pointer;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 13px;
                            padding: 8px 12px;
                            background-color: #328ad6;
                            color: #fff;
                            border: none;
                            border-radius: 3px;
                        }
.menu-rightmouse {
    z-index:200;
    padding: 6px 0;
    background-color: white;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
}
    .menu-rightmouse ul {
        list-style-type: none;
        padding-left:0px;
        margin:0px;
        position:absolute;
        background-color: white;
    }
        .menu-rightmouse ul li {
            padding: 0 4px;
            cursor: pointer;
            width:200px;
            height:28px;
        }
        .menu-rightmouse ul li:hover {
            display:block;
            background-color: #a3a3a2;
        }
        .menu-rightmouse ul li a {
            text-decoration: none;
            display:flex;
        }
        .menu-rightmouse ul li svg {
            width:20px;
            height:20px;
            fill: #737272;
        }
        .menu-rightmouse ul li svg.move {
            stroke: #737272;
        }
        .chevron svg {
            fill: #737272;
            display:none;
            transform: rotate(180deg);
        }
        .chevron svg.folder-arrow1 {
            display:initial;
            fill: #737272;
        }
        .menu-rightmouse ul li .icon-rightmouse {
            padding:4px;
        }
        .menu-rightmouse ul li .cont-rightmouse {
            flex-grow:1;
            height:20px;
            padding: 6px;
            line-height: 20px;
            color: #262626;
        }
        .menu-rightmouse ul li .chevron {
            padding:3px;
        }
        .menu-rightmouse .menu-folder {
            width:200px;
            height:68px;
        }
        .menu-rightmouse .menu-list {
            width:200px;
            height:68px;
        }
        .menu-rightmouse  .line {
            border-bottom:1px solid rgba(102,137,100,0.2);
            height:1px;
            margin: 8px 0;
            height: 0;
            padding: 0;
        }
.page-create-list {
    z-index:2;
    position: absolute;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    overflow: hidden;
    display:none;
    background: rgba(0,0,0,0.4);
}
    .page-create-list .create-list {
        width:100%;
        height:298.2px;
        position: absolute;
        top: 75px;
    }
        .page-create-list .create-list .box-create-list {
            width:392px;
            height:298.2px;
            border-radius: 3px;
            flex-direction: column;
            position: relative;
            background-color: white;
            margin:0 auto;
        }
            .box-create-list .header-box-crtlst {
                width:392px;
                height:188.4px;
                padding: 14px 14px 0;
                border-bottom: 1px solid #ebebeb;
            }
                .header-box-crtlst .title-box-crtlst {
                    text-align: center;
                    width:364px;
                    height:19.2px;
                    font-weight: bold;
                    font-size: 15px;
                }
                .header-box-crtlst .list-name-box-crtlst {
                    width:364px;
                    height:37.4px;
                    margin: 14px 0;
                    border: 1px solid #ebebeb;
                    border-radius: 3px;
                }
                .header-box-crtlst .list-name-box-crtlst input {
                    margin-top: 8px;
                    margin-left: 7px;
                    width: 96%;
                    font-size: 15px;
                    background: #fff;
                }
                .header-box-crtlst .list-option-box-crtlst {
                    width:364px;
                    height:21.8px;
                    margin: 14px 0;
                    border-bottom: 1px solid #ebebeb;
                }
                    .list-option-box-crtlst ul {
                        list-style-type: none;
                        padding-left:0px;
                        margin-top:0px;
                        width:364px;
                        height:21.8px;
                        font-size:10px;
                        font-weight: bold;
                    }
                    .list-option-box-crtlst ul li {
                        display: inline-table;
                        height:16.8px;
                        line-height: 16.8px;
                    }
                        .list-option-box-crtlst ul .list-option {
                            padding-left: 5px;
                        }
                    .list-option-box-crtlst ul li a {
                        text-decoration: none;
                        width:70.03px;
                        height:12px;
                        color: #737272;
                    }
                .header-box-crtlst .add-member-box-crtlst {
                    width:364px;
                    height:39px;
                    padding: 0 14px;
                    border: 1px solid #ebebeb;
                    border-radius: 3px;
                    position: absolute;
                }  
                .header-box-crtlst .add-member-box-crtlst input {
                    background-color: white;
                    width:96%;
                    padding-left: 8px;
                    margin-top: 11px;
                    font-size: 15px;
                }
                .header-box-crtlst .add-member-box-crtlst svg {
                    width:20px;
                    height:20px;
                    fill: #737272;
                    position: absolute;
                    top: 8px;
                    left: 6px;
                }
            .tab-member-box-crtlst {
                width:392px;
                height:56px;
                border-bottom: 1px solid #ebebeb;
                padding: 0 14px;
                position:absolute;
            }
                .tab-member-box-crtlst .avatar-crtlst {
                    width:32px;
                    height:32px;
                    position: absolute;
                    top: 12px;
                }
                .tab-member-box-crtlst .avatar-crtlst img {
                    border-radius:50%;
                    width:32px;
                    height:32px;
                }
                .tab-member-box-crtlst .email-crtlst {
                    width:332px;
                    height:33.4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    position: absolute;
                    top: 11px;
                    left: 46px;
                    font-size: 14px;
                }
                    .name-email-crtlst .cont-name-email-crtlst {
                        color: #262626;
                    }
                    .name-email-crtlst .owner {
                        border:1px solid #328ad6;
                        border-radius:10px;
                        color: #1f7bcc;
                        padding: 2px 7px;
                        font-size: 8px;
                    }
                    .email-crtlst .email-email-crtlst {
                        font-size: 12px;
                        color: #737272;
                    }
                    .foot-box-crtlst {
                        width:392px;
                        height:53.8px;
                        padding:12px;
                        position: absolute;
                        bottom:0px;
                    }
                    .foot-box-crtlst .box-crtlst-foot {
                        width:30%;
                        height:28.8px;
                        display:inline-block;
                    }
                        .box-crtlst-foot .cancel {
                            background-color: white;
                            cursor: pointer;
                            color: #737272;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 13px;
                            border:none;
                            padding: 8px 12px;
                            border:1px solid #d6d6d6;
                            border-radius: 3px;
                            width:100%;
                        }
                        .box-crtlst-foot .save {
                            background-color: #6791b6;
                            color: #fff;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 13px;
                            border:none;
                            padding: 8px 12px;
                            border:1px solid #d6d6d6;
                            border-radius: 3px;
                            width:100%;
                        }
.page1 {
    z-index:2;
    position: absolute;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    display:none;
    background: rgba(0,0,0,0.4);
}
    .page1 .setting-account-font1 {
        width:45.5%;
        background-color: white;
        margin:0 auto;
        border-radius: 8px;
        
    }
    .setting-account-font1 .cont-setting1 {
        height:85%;
        width:100%;
        overflow: hidden;
        flex-direction: row;
        display:flex;
        overflow: auto;
    }
        .cont-setting1 .tab-cont-setting1 {
            height:100%;
            width:131.8px;
            border-right: 1px solid #c0c0bf;
        }
            .tab-cont-setting1 ul {
                width:129.8px;
                height:240px;
                list-style-type: none;
                padding-left:0px;
                margin-top:0px;
            }
            .tab-cont-setting1 ul li {
                width:129.8px;
                height:40px;
            }
            .tab-cont-setting1 ul li a {
                text-decoration: none;
                width:129.8px;
                height:40px;
                line-height: 40px;
            }
            .tab-cont-setting1 ul li:hover {
                display:block;
                background-color: #a3a3a2;
            }
            .general {
                font-size:12px;
                font-weight:bold;
            }
            .general .icon-general {
                background-image: url(app.png);
                background-position: -157px 0;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .page1 .account {
                font-size:12px;
                font-weight:bold;
                background-color: #a3a3a2;
            }
            .account .icon-account {
                background-image: url(app.png);
                background-position: 0 -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .shortcuts {
                font-size:12px;
                font-weight:bold;
            }
            .shortcuts .icon-shortcuts {
                background-image: url(app.png);
                background-position: -80px -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .smart-lists {
                font-size:12px;
                font-weight:bold;
            }
            .smart-lists .icon-smart-lists {
                background-image: url(app.png);
                background-position: -157px -40px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .notifications {
                font-size:12px;
                font-weight:bold;
            }
            .notifications .icon-notifications {
                background-image: url(app.png);
                background-position: -60px -93px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .about {
                font-size:12px;
                font-weight:bold;
            }
            .about .icon-about {
                background-image: url(app.png);
                background-position: -40px -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
        .cont-setting1 .cont-cont-setting1 {
            width:568.2px;
            height:100%;
            vertical-align: middle;
            font-size: 13px;
            display: inline-block;
        }
            .cont-cont-setting1 .separator-avatar {
                width:548.6px;
                height:150px;
                margin:0 auto;
                position: relative;
                margin-top:11px;
            }
                .separator-avatar .avatar1 {
                    position: absolute;
                    top: 16px;
                    left: 211px;
                }
                .separator-avatar .avatar1 img {
                    width:120px;
                    height:120px;
                    border-radius: 50%;
                    margin:0 auto;
                }
            .cont-cont-setting1 .separator-account {
                width:534.6px;
                height:163.2px;
                border-top: 1px solid #e0e0df;
                border-bottom: 1px solid #e0e0df;
                margin-top: 10px;
                margin-left: 15px;
            }
                .separator-account .name-account {
                    width:548.6px;
                    height:30.4px;
                    display:flex;
                    margin-top: 11px;
                    padding-right: 22px;
                }
                    .name-account .cont-name-account {
                        height:15.2px;
                        width:32%;
                        text-align: right;
                        line-height: 30.4px;
                        padding-right: 17px;
                    }
                    .name-account .box-name-account {
                        height:30.4px;
                        flex-grow:1;
                        border:1px solid #d6d6d6;
                        border-radius: 3px;
                        display:block;
                    }
                    .name-account .box-name-account input {
                        background-color: white;
                        border:none;
                        padding: 0;
                        margin: 0;
                        color: #262626;
                        margin-top: 5px;
                        margin-left: 7px;
                        font-size:15px;
                    }
                .separator-account .email-account {
                    width:548.6px;
                    height:30.4px;
                    display:flex;
                    margin-top: 10px;
                }
                    .email-account .cont-email-account {
                        width:175.5px;
                        height:15.2px;
                        text-align: right;
                        margin-top: 12px;
                        padding-right: 18px;

                    }
                    .email-account .box-email-account {
                        flex-grow:1;
                        height:30.4px;
                        border:1px solid #d6d6d6;
                        border-radius:3px;
                        margin-right: 4px;
                    }
                        .box-email-account input {
                            background-color: white;
                            width: 90%;
                            border:none;
                            font-size: 15px;
                            margin-top: 4px;
                            margin-left: 6px;
                        }
                    .email-account .box-change-email {
                        width:153.6px;
                        height:28.8px;
                        border:1px solid #d6d6d6;
                        border-radius:3px;
                        margin-right: 22px;
                        cursor: pointer;
                    }
                    .box-change-email button {
                        color: #737272;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 13px;
                        padding: 8px 12px;
                        background: #fafafa;
                        border:none;
                        width: 90%;
                        height: 80%;
                        margin-left: 6px;
                        cursor: pointer;
                    }
                .separator-account .manage-account {
                    width:548.6px;
                    height:17.6px;
                    color: #328ad6;
                    font-weight: bold;
                    line-height:18px;
                    font-size:13px;
                    text-align: center;
                    margin-top: 10px;
                }
                .separator-account .password-account {
                    width:548.6px;
                    height:28.8px;
                    display:flex;
                    margin-top:10px;
                }
                .password-account .cont-password-account {
                    width:175.55px;
                    height:15.2px;
                    text-align: right;
                    padding-right: 25px;
                    padding-top: 5px;
                }
                .password-account .box-password-account {
                    flex-grow:1;
                    margin-left: -7px;
                }
                    .box-password-account .borderbox {
                        width:210.44px;
                        height:28.8px;
                        border-radius: 3px;
                        border:1px solid #d6d6d6;
                        cursor: pointer;

                    }
                    .borderbox button {
                        border:none;
                        background-color: white;
                        padding-top: 6px;
                        padding-left: 39px;
                        color: #737272;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 13px;
                        cursor: pointer;
                    }
    .setting-account-font1 .cont-setting-footer1 {
                height:53.8px;
                width:100%;
                border-top: 1px solid #e0e0df;
                flex-shrink: 0;
                padding-bottom:80px;
    }
        .cont-setting-footer1 .done1 {
                    width:137.6px;
                    height:28.8px;
                    background-color: #328ad6;
                    text-align: center;
                    line-height: 28.8px;
                    margin-top: 11px;
                    margin-left: 537px;
                    border-radius: 3px;
                    color:white;
                    cursor: pointer;
        }
            .done1:hover {
                        background-color: lightblue;
            }        
.page {
    z-index:2;
    position: absolute;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display:none;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
}
    .page .setting-account-font {
        width:45%;
        height:80%;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 409px;
        border-radius: 8px;
    }
    .setting-account-font .cont-setting {
        height:85%;
        display:flex;
    }
        .cont-setting .tab-cont-setting {
            width:20%;
            height:100%;
            border-right: 1px solid #e0e0df;
        }
            .tab-cont-setting ul {
                width:129.8px;
                height:240px;
                list-style-type: none;
                padding-left:0px;
                margin-top:0px;
            }
            .tab-cont-setting ul li {
                width:129.8px;
                height:40px;
            }
            .tab-cont-setting ul li a {
                text-decoration: none;
                width:129.8px;
                height:40px;
                line-height: 40px;
            }
            .tab-cont-setting ul li:hover {
                display:block;
                background-color: #a3a3a2;
            }
            .page .general {
                font-size:12px;
                font-weight:bold;
                background-color: #a3a3a2;
            }
            .general .icon-general {
                background-image: url(app.png);
                background-position: -157px 0;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .account1 {
                font-size:12px;
                font-weight:bold;
            }
            .account1 .icon-account {
                background-image: url(app.png);
                background-position: 0 -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .shortcuts {
                font-size:12px;
                font-weight:bold;
            }
            .shortcuts .icon-shortcuts {
                background-image: url(app.png);
                background-position: -80px -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .smart-lists {
                font-size:12px;
                font-weight:bold;
            }
            .smart-lists .icon-smart-lists {
                background-image: url(app.png);
                background-position: -157px -40px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .notifications {
                font-size:12px;
                font-weight:bold;
            }
            .notifications .icon-notifications {
                background-image: url(app.png);
                background-position: -60px -93px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
            .about {
                font-size:12px;
                font-weight:bold;
            }
            .about .icon-about {
                background-image: url(app.png);
                background-position: -40px -153px;
                width: 40px;
                height: 40px;
                transform: scale(.6);
                display:inline-block;
                vertical-align: middle;
            }
        .cont-setting .cont-cont-setting {
            flex-grow:1;
        }
            .cont-cont-setting .separator {
                width:534.6px;
                height:170.4px;
                position: absolute;
                left: 149px;
                border-bottom: 1px solid #e0e0df;
            }
                .separator .language {
                    width:100%;
                    height:25%;
                    margin-left: -7px;
                    margin-right: -7px;
                    margin-top: 8px;
                    display:flex;
                }
                    .language .cont-language {
                        width:329.15px;
                        height:15.2px;
                        vertical-align: middle;
                        font-size: 13px;
                        display: inline-block;
                        text-align: right;
                        margin-top: 8px;
                        margin-right: 8px;
                    }
                    .language .box-language {
                        flex-grow:1;
                    }
                        .box-language .select {
                            width:138.8px;
                            height:32.8px;
                            border:1px solid green;
                            border-radius: 3px;
                        }
                            .select select {
                                width:100%;
                                border: none;
                                background: none;
                                border-radius: 3px;
                                color: #262626;
                                font-size: 13px;
                                line-height: 17px;
                                padding: 8px 26px 8px 8px;
                                text-indent: .01px;
                            }
                            .select select option {
                                display:block;
                            }
                    .separator .date-format {
                                width:100%;
                                height:25%;
                                margin-left: -7px;
                                margin-right: -7px;
                                margin-top: 8px;
                                display:flex;
                    }
                        .date-format .cont-date-format {
                            width:329.15px;
                            height:15.2px;
                            vertical-align: middle;
                            font-size: 13px;
                            display: inline-block;
                            text-align: right;
                            margin-top: 9px;
                            margin-right: 8px;
                        }
                        .date-format .box-date-format {
                            flex-grow:1;
                        }
                            .box-date-format .select-date {
                                width: 142.2px;
                                height:32.8px;
                                border:1px solid green;
                                border-radius: 3px;
                            }
                                .select-date select {
                                    width:100%;
                                    border: none;
                                    background: none;
                                    border-radius: 3px;
                                    color: #262626;
                                    font-size: 13px;
                                    line-height: 17px;
                                    padding: 8px 26px 8px 8px;
                                    text-indent: .01px;
                                }
                                .select-date select option {
                                    display:block;
                                }
                .separator .time-format {
                    width:100%;
                    height:25%;
                    display:flex;
                }
                    .time-format .cont-time-format {
                        width:60%;
                        text-align: right;
                    }
                    .time-format .box-time-format {
                        flex-grow:1;
                        margin-top: -3px;
                    }
                        .box-time-format .aria-box {
                            width:205.44px;
                            height:16px;
                            font-size:13px;
                            display:block;
                        }
                            .aria-box input {
                                width:16px;
                                height:16px;
                                position: relative;
                                vertical-align: bottom;
                            }
                .separator .start-of-week {
                    width:100%;
                    height:25%;
                    display:flex;
                }     
                    .start-of-week .cont-start-of-week {
                        width:60%;
                        vertical-align: middle;
                        text-align: right;
                        font-size: 13px;
                        display: inline-block;
                        font-size:13px;
                    }       
                    .start-of-week .box-start-of-week {
                        flex-grow:1;
                        margin-top: -5px;
                        margin-left: 11px;
                    }
                        .box-start-of-week .select-week {
                            width:86.8px;
                            height:32.8px;
                            position: relative;
                            display: inline-block;
                            border-radius: 3px;
                            font-size:13px;
                        }
                            .select-week select {
                                background: none;
                                color: #262626;
                                font-size: 13px;
                                line-height: 17px;
                                padding: 4px 1px 4px 4px;
                                border-radius: 3px;
                            }
                            .select-week select option {
                                font-weight: normal;
                                display: block;
                                white-space: pre;
                                min-height: 1.2em;
                            }
    .setting-account-font .cont-setting-footer {
        height:53.8px;
        border-top: 1px solid #e0e0df;
    }
        .cont-setting-footer .done {
            width:137.6px;
            height:28.8px;
            background-color: #328ad6;
            text-align: center;
            line-height: 28.8px;
            margin-top: 11px;
            margin-left: 537px;
            border-radius: 3px;
            color:white;
            cursor: pointer;
        }
            .done:hover {
                background-color: lightblue;
            }
.html-css {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    width:100%;
    display:flex;
    margin: 0;
    padding: 0;
    background-image: url(07.jpg);
    background-size: cover;
    font-family: "Lato","Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}  
.leftco {
    width:280px ;
    background-color: #f7f7f7; 
    height: 100%; 
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
}
    .left1 {
        height:45px;
        background-color: #5b7a59;
        display:flex;
    }
        .left11 {
            width:42px;
        }
            .toggle-sidebar {
                margin-left: 10px;
                margin-top: 11px;
                cursor: pointer;
            }
            input {
                background-color: #5b7a59;
                margin-top: 10px;
                border:none;
                flex-grow: 1;
                margin-left:12px;
                outline: none;
                margin-top: 12px;
            }
            .search {
                margin-left: 5px;
                margin-top: 6px;
                fill:white;
                width:42px;
            }
    .left2 {
        height:51px;
        display:flex;
        overflow: hidden;
    }
        .left21 {
            flex-grow:1;
            display:flex;
        }
            .user-avatar {
                width:32px;
                padding-top: 9px;
                margin-left: 5px;
            }
                .user-avatar img {
                    border-radius:50%;
                }
            .user-name {
                flex-grow:1;
                font-size:15px;
                padding-top: 17px;
                padding-left: 8px;
                cursor: pointer;
            }
            .user-arrow {
                fill:#737272;
                width:20px;
                height:20px;
                margin-top: 16px;
                margin-right: 28px;
            }
        .menu {
            width:226px;
            height:371.2px;
            position: absolute;
            background-color:white;
            top: 89px;
            left: -21px;
            z-index: 10;
            display:none;
        }
            .last-sync-disable {
                font-size:13px;
                color: #aaa;
                width:224px;
                height:39.2px;
                padding-top: 11px;
            }
            .email-menu {
                font-size:13px;
                color: #aaa;
                width:224px;
                height:39.2px;
            }
            .menu ul {
                list-style-type:none;
                width:226px;
                height:371.2px;
                position:absolute;
                top:-28px;
            }
            .menu ul li {
                line-height:35.2px;
                height:35.2px;
            }
                .menu ul li a {
                    display:block;
                    text-decoration: none;
                    font-size:13px;
                    color:black;
                }
                .menu ul li a:hover {
                    background:lightskyblue;
                    color:white;
                }
                .menu ul .li2 {
                    border-bottom:1px solid #ebebeb;
                }
        .bell {
            width:40px;
            fill:#737272;
            padding-top: 16px;
            cursor: pointer ;
        }
            .menu-bell {
                width:300px;
                height:119.71px;
                background-color: white;
                position: absolute;
                left: 60px;
                top: 99px;
                z-index: 10;
                border-radius: 3px;
                display:none;
            }
                .muiten {
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid white;
                    position: absolute;
                    top: -19px;
                    left: 130px;
                }
                .title-bell {
                    height:39.2px;
                    font-size:1.17em;
                    font-weight: bold;
                    border-bottom:1px solid #ebebeb;
                    text-align: center;
                    line-height: 39.2px;
                }
                .ring {
                    height:80.51px;
                }
                .ring ul {
                    list-style: none;
                    padding-left:0px;
                }
                .ring ul li {
                    display:flex;
                    border-bottom:1px solid #ebebeb;
                    padding: 5px 5px 5px 10px;
                }
                    .icon-clock {
                        width:39px;
                        height:54.51px;
                        margin-top: -10px;
                    }
                        .icon-clock img {
                            width:39px;
                            height:39px;
                            border-radius: 50%;
                        }
                    .message-bell {
                        width:246px;
                        height:54.51;
                        flex-grow:1;
                        padding-left: 9px;
                        font-size: 13px;
                        margin-top: -7px;
                    }
                        .message-bell .Reminder {
                            height:21px;
                        }
                        .message-bell .content-mess {
                            height:21px;
                            color:rgb(63, 63, 63);
                            font-weight:bold;
                        }
                        .message-bell .info-mess {
                            height:19.31px;
                        }
                            .info-mess .img-clock {
                                width:18px;
                                height:18px;
                            }
                                .img-clock img {
                                    width:18px;
                                    height:18px;
                                }
                            .info-mess .content-img {
                                width:53.05px;
                                height:13.6px;
                                color:rgb(119, 119, 119);
                                font-size: 0.9em;
                                position: relative;
                                top: -3px;
                            }
        .conversations {
            width:40px;
            fill:#737272;
            padding-top: 16px;
            cursor: pointer;
        }
            .menu-con {
                height:225.6px;
                width:300px;
                display:flex;
                background-color: white;
                position: absolute;
                z-index: 10;
                top: 97px;
                left: 111px;
                flex-direction: column;
                display:none;
            }
                .menu-con .muiten1 {
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-bottom: 20px solid white;
                    position: absolute;
                    top: -19px;
                    left: 123px;
                }
                .menu-con .title-con {
                    font-size: 1.17em;
                    font-weight: bold;
                    text-align: center;
                    height:39.2px;
                    line-height: 39.2px;
                    border-bottom:1px solid #ebebeb;
                }
                .menu-con .content-con {
                    flex-grow:1;
                    padding-top:14px;
                }
                    .icon-con {
                        text-align: center;
                    }
                    .content-con .icon-con svg {
                        width:138.21px;
                        height:100px;
                    }
                    .content-con .title-icon {
                        color: rgb(91, 91, 91);
                        font-size: 14px;
                        text-align: center;
                        height:16.8px;
                        font-weight: bold;
                    }
                    .content-con .content-icon {
                        height:27.2px;
                        color: rgb(163, 163, 163);
                        font-size:11px;
                        text-align: center;
                        margin-top: 13px;
                    }
    .leftco .left3 {
        flex-grow: 1; 
        overflow: hidden;
        padding-top: 4px;
        list-style-type: none;
        text-decoration: none;
        padding-left:0px;
        margin-top: 0px;
    }
        .left3 .list-left {
            height:38px;
            width:100%;
            position: relative;
            cursor: pointer;
            display:flex;
            padding-right: 8px;
            padding-left: 8px;
        }
        .left3 .list-left1 {
            height:38px;
            width:100%;
            position: relative;
            cursor: pointer;
            display:flex;
            padding-right: 8px;
            padding-left: 8px;
        }
        .left3 .list-left2 {
            height:38px;
            width:100%;
            position: relative;
            cursor: pointer;
            display:flex;
            padding-right: 8px;
            padding-left: 8px;
        }
        .left3 .list-left3 {
            height:38px;
            width:100%;
            position: relative;
            cursor: pointer;
            display:flex;
            padding-right: 8px;
            padding-left: 8px;
        }
        .left3 .list-left4 {
            height:38px;
            width:100%;
            position: relative;
            cursor: pointer;
            display:flex;
            padding-right: 8px;
            padding-left: 8px;
        }
            .icon-left {
                height: 20px;
                width: 20px;
                padding-left: 2px;
                padding-right: 3px;
                padding-top:7.5px;
                text-align: center;
            }
            .icon-left .today{
                fill: #5fa004;
            }
            .icon-left .inbox,.icon-left .folders,.icon-left .plus-small{
                fill: #2b8dec;
            }
            .icon-left .list111 {
                fill: #b9b9b9;
            }
            .cont-left {
                flex-grow:1;
                line-height: 38px;
                padding-left: 10px;
                padding-right: 6px;
                color: #262626;
            }
            .cont-left .create {
                color:#2b8dec;
            }
            .count-left {
                color: #bdbcbb;
                font-size: 12px;
                padding-left: 4px;
                padding-right: 4px;
                padding-top:8px;
                font-size:15px;
            }
            .arrow-folder svg {
                fill: #737272;
                height: 20px;
                width: 20px;
                margin-top:6px;
            }

            .leftco .left3 .more {
                    height:38px;
                    fill: #328ad6;
                    padding-top: 10px;
                    padding-left: 10px;
                    display:none;      
            }
    .left4co {
        height:42px;
        padding-left: 7px;
        overflow: hidden;
        display:flex;
        border-top: 1px solid rgba(0,0,0,0.1);
        background-color: white;
        cursor: pointer;
    }
        /* @media only screen and (max-width: 1000px) {
            .leftco {
                width:45px !important;
            }
            .leftco .cont-left {
                display:none;
            }
            .leftco .count-left {
                display:none;
            }
            .leftco .arrow-folder {
                display:none;
            }
        }
        @media only screen and (max-width: 1496px) {
            .leftco {
                width:280px;
            }
        } */

.midco {
    height: 100%;
    flex-shrink: 2;
    flex-grow: 1; 
    padding: 0;
    margin: 0; 
    position:relative;
}
    .mid1 {
        height: 45px;
        background-color: #668964;
        display:flex;
    }
        .mid11 {
            flex-grow:1;
        }
            .ttt {
                color:white;
                font-size:20px;
                margin-top: 10px;
                margin-left: 16px;
            }
        .mid12 {
            width:156px;
            display:flex;
            font-size:0;
        }
            .mid121 {
                fill:#d6d6d6;
                padding-left:18px;
                margin-top:5.5px;
                height:44px;
                width:52px;
            }
                .te11 {
                    font-size:10px;
                    color:#d6d6d6;
                }
            .mid122 {
                fill:white;
                padding-left:18px;
                margin-top:5.5px;
                flex-grow:1;
                cursor: pointer;
            }
                .te22 {
                    font-size:10px;
                    color:white;
                }
                .menu-sort {
                    width:250px;
                    height:169px;
                    background-color: #668964;
                    position:absolute;
                    z-index: 2;
                    top: 45px;
                    right: 0px;
                    display:none;
                }
                    .menu-sort ul {
                        list-style-type: none;
                        padding-left:0px;
                    }
                    .menu-sort ul li {
                        height:33.8px;
                        fill:#d6d6d6;
                        color:#d6d6d6;
                        font-size:14px;
                        line-height:33.8px;
                    }
                    .menu-sort ul li a {
                        fill:white;
                        color:white;
                        height:30.8px;
                        width:246px;
                        text-decoration: none;
                    }
                        .menu-sort ul li a:hover {
                            background-color:lightgreen;
                            display:block;
                        }
                    .sort-az {
                        display:flex;
                    }
                        .icon-sort-az svg {
                        width:20px;
                        height:20px;
                        position:absolute;
                        top: 6px;
                        left: 5px;
                    }
                        .sort-az .cont-sort-az {
                            flex-grow:1;
                            margin-left: 30px;
                            padding-left: 0px;
                        }
                    .sort-duedate {
                        display:flex;
                    }
                        .icon-sort-duedate svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        top: 39px;
                        left: 6px;
                    }
                        .sort-duedate .cont-sort-due {
                            flex-grow:1;
                        }
                    .icon-sort-creatdate svg {
                        width:20px;
                        height:20px;
                        position:absolute;
                    }
                    .icon-assignee svg {
                        width:20px;
                        height:20px;
                        position:absolute;
                    }
                    .icon-priority svg {
                        width:20px;
                        height:20px;
                        position:absolute;
                    }
                    .cont-sort-az {
                        padding-left: 30px;
                    }
                    .cont-sort-due {
                        padding-left: 7px;
                    }
                    .cont-sort-creat {
                        padding-left: 7px;
                    }
                    .cont-assignee {
                        padding-left: 30px;
                    }
                    .cont-priority {
                        padding-left: 30px;
                    }
                        
            .mid123 {
                padding-left:18px;
                margin-top:4px;
                fill:#fff;
                width:52px;
                height:44px;
                cursor: pointer;
            }
                .te33 {
                    font-size:10px;
                    color:white;
                }
                .menu-more ul {
                    padding-left:0px;
                    list-style-type:none;
                    margin-top:0px;
                }
                .menu-more ul li {
                    fill:#d6d6d6;
                    color:#d6d6d6;
                    height:33.8px;
                    line-height:33.8px;
                }
                .menu-more ul li a {
                    width:246px;
                    height:30.8px;
                    text-decoration: none;
                    fill:white;
                    color:white;
                }
                .menu-more ul li a:hover {
                    display:block;
                    background-color: lightgreen;
                }
                .menu-more {
                    width:250px;
                    height:273.4px;
                    background-color:#668964; 
                    font-size:14px;
                    position:absolute;
                    z-index: 2;
                    top: 45px;
                    right: 0px;
                    display:none;
                }
                .menu-more .duplicate {
                    height:33.8px;
                    display:flex;
                }
                    .duplicate svg {
                        width:20px;
                        height:20px;
                        position:absolute;
                        left:6px;
                        top:5px;
                    }
                    .duplicate .cont-duplicate {
                        flex-grow:1;
                        padding-left:34px;
                        line-height:33.8px;
                    }
                .menu-more .copy-select {
                    height:33.8px;
                    display:flex;
                }
                    .copy-select svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        top: 39px;
                        left: 6px;
                    }
                    .copy-select .cont-copy-select {
                        flex-grow:1;
                        margin-left: 34px;
                    }
                .menu-more .email-list {
                    height:33.8px;
                    display:flex;
                }
                    .email-list svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        top: 73px;
                        left: 6px;
                    
                    }
                    .email-list .cont-email-list {
                        flex-grow:1;
                        padding-left: 35px;
                    }
                .menu-more .email-select {
                    height:33.8px;
                    display:flex;
                }
                    .email-select svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        top: 107px;
                        left: 6px;
                    }
                    .email-select .cont-email-select {
                        flex-grow:1;
                        padding-left: 35px;
                    }
                .menu-more .print-list {
                    height:33.8px;
                    display:flex;
                }
                    .print-list svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        bottom: 112px;
                        left: 5px;
                    }
                    .print-list .cont-print-list {
                        flex-grow:1;
                        padding-left: 35px;
                    }
                .menu-more .print-select {
                    height:33.8px;
                    display:flex;
                }
                    .print-select svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        bottom: 79px;
                        left: 5px;
                    }
                    .print-select .cont-print-select {
                        flex-grow:1;
                        padding-left: 35px;
                    }
                .menu-more .disturb {
                    height:33.8px;
                    display:flex;
                    fill:#b2b2b2;
                    color:#b2b2b2;
                }
                    .disturb svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        bottom: 45px;
                        left: 5px;
                    }
                    .disturb .cont-disturb {
                        flex-grow:1;
                        padding-left: 35px;
                    }
                    .disturb .off {
                        width:24.96px;
                        height:16.94px;
                        margin-right: 8px;
                        font-size:13px;
                    }
                .menu-more .delete-select {
                    height:33.8px;
                    display:flex;
                }
                    .delete-select svg {
                        width:20px;
                        height:20px;
                        position: absolute;
                        bottom: 11px;
                        left: 5px;
                    }
                    .delete-select .cont-delete-select {
                        flex-grow:1;
                        padding-left:35px;
                    }
    .mid2 {
        height:47px;
        background-color: #5b7a59;
        display:flex;
        margin-top: 11px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius:3px;
        opacity: 0.6;
    }
        .mid21 {
            width:20px;
            height:20px;
            fill:#d6d6d6;
            margin-top: 13px;
            margin-left: 11px;
        }
        .mid22 {
            flex-grow:1;
        }
            .mid22 .input1 {
                margin-top: 4px;
            }
            .mid22 .input1 input[type=text]::placeholder {
                font-size: 16px;
                color:#d6d6d6;
                background:#5b7a59;
            }
    .mid3 {
        margin-top: 12px;
    }
    .mid3 ul {
        padding-left: 0px;
    }
    .mid-todo:last-child {
        display: none;
    }
    .mid-todo {
        height:46px;
        display:flex;
        background-color: #fff;
        margin-left: 16px;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 16px;
        align-items: center;
        position: relative;
        border-radius:3px;
        margin-top: 1px;
        cursor: pointer;
    }
        .icon-todo {
            width:36px;
            height:20px;
            margin-left: 8px;
        }
        .icon-todo svg {
            stroke: rgba(0,0,0,0.35);
            width:20px;
            height:20px;
        }
        .cont-todo {
            flex-grow:1;
            margin-left: 2px;
        }
        .icon-star {
            width:29.2px;
            height:20px;
            fill:#737272;
        }
            .icon-star svg {
                width:20px;
                height:20px;
            }
    .mid4 {
        width:30%;
        height:22px;
        background-color: rgba(102,137,100,0.75);
        font-size:11px;
        color:white;
        margin-top: 20px;
        margin-left: 16px;
        cursor: pointer;
    }
        .mid41 {
            padding-top: 5px;
            padding-left: 6px;
        }
        .mid5 {
            margin-top: 12px;
            display:none;
        }
        .mid-comp-todo1:last-child {
            display: none;
        }
        .mid5 ul {
            padding-left:0px;
        }
        .mid-comp-todo1 {
            height:46px;
            display:flex;
            background-color: #fff;
            margin-left: 16px;
            padding-left: 4px;
            padding-right: 4px;
            margin-right: 16px;
            align-items: center;
            position: relative;
            border-radius:3px;
            margin-top: 1px;
            cursor: pointer;
            opacity:0.5;
            text-decoration: line-through;
    }
            .icon-comp-todo1 {
                width:36px;
                height:20px;
                margin-left: 7px;
            }
            .icon-comp-todo1 svg {
                stroke: rgba(0,0,0,0.35);
                width:20px;
                height:20px;
            }
            .cont-comp-todo1 {
                flex-grow:1;
                line-height: 46px;
            }
                .cont-comp-todo1 .cont1 {
                    font-size:15px;
                    height:18px;
                    line-height: 18px;
                }
                .cont-comp-todo1 .time1 {
                    font-size:10px;
                    height:12px;
                    line-height: 12px;
                }
            .icon-comp-star1 {
                width:29.2px;
                height:20px;
                fill:#737272;
            }
                .icon-comp-star1 svg {
                    width:20px;
                    height:20px;
                }
    

.rightco {
    height: 100%;
    width:367px ;
    padding: 0;
    margin: 0;  
    display:flex;
    flex-direction: column;
    display:none;
}
    .right1 {
        height:55px;
        background-color: white;
        display:flex;
        border-bottom:1px solid #a3a3a2;
    }
        .right11 {
            height:23.2px;
            width:20px;
            margin-top: 14px;
            margin-left: 13px;
        }
            .right11 svg {
                stroke: rgba(0,0,0,0.35);
            }
        .right12 {
            flex-grow:1;
            padding-top: 17px;
            padding-left: 9px;
            font-weight: bold;
        }
        .right13 {
            height:49px;
            width:22px;
            fill:rgba(0,0,0,0.3);
            font-size:14px;
            margin-right: 11px;
            padding-bottom: 6px;
        }
    .right2 {
        flex-grow:1;
        background-color: white;
    }
        .right21 {
            width:367px;
            height:48px;
            display:flex;
            background-color:white;
        }
            .icondate {
                width:32px;
                height:32px;
                fill: #328ad6;
                margin-top: 14px;
                margin-left: 11px;
            }
            .nd21 {
                flex-grow:1;
                border-bottom:1px solid #a3a3a2;
            }
                .nd21 div {
                    width:267px;
                    height:20px;
                    color: #328ad6;
                    margin-top: 17px;
                }
            .deleter21 {
                width:32px;
                height:32px;
                border-bottom:1px solid #a3a3a2;
                margin-top: 16px;
            }
        .right22 {
            width:367px;
            height:48px;
            display:flex;
            background-color: white;
        }
        .clockicon {
            width:32px;
            height:32px;
            fill: #328ad6;
            margin-top: 14px;
            margin-left: 11px;
        }
        .nd22 {
            flex-grow:1;
            border-bottom:1px solid #a3a3a2;
            margin-top: 10px;
        }
            .tren {
                height:18.4px;
                color:#328ad6;
                font-size:15px;
            }
            .duoi {
                height:13.6px;
                font-size:11px;
            }
        .deleter22 {
            width:32px;
            height:32px;
            border-bottom:1px solid #a3a3a2;
            margin-top: 16px;
        }
        .right23 {
            width:367px;
            height:48px;
            display:flex;
        }
            .iconplus23 {
                width:32px;
                height:32px;
                fill: #a3a3a2;
                margin-top: 15px;
                padding-left: 12px;
            }
            .content23 {
                    flex-grow:1;
                    border-bottom:1px solid #a3a3a2;
                    margin-top: 7px;
                    margin-left: 11px;
                }
                .content23 input {
                    height:18.4px;
                    background-color: white;
                    border:1px solid white;
                    font-size:15px;
                    color:#a3a3a2;
                    margin-top: 7px;
                    margin-left: -1px;
                }
        .right24 {
            width:367px;
            height:48px;
            display:flex;
        }
            .iconpen {
                width:32px;
                height:32px;
                fill: #a3a3a2;
                margin-top: 14px;
                margin-left: 12px;
            }
            .content24 {
                flex-grow: 1;
                border-bottom:1px solid #a3a3a2;
            }
                .content24 input {
                    background-color: white;
                    border:1px solid white;
                    color: #9fa2a6;
                    font-size:15px;
                    margin-top: 13px;
                    margin-left: -1px;
                }
            .icon-fullscreen {
                width:32px;
                height:32px;
                fill: #737272;
                border-bottom:1px solid #a3a3a2;
                margin-top: 16px;
            }
        .right25 {
            width:367px;
            height:48px;
            display:flex;
            fill: #a3a3a2;
            color:#a3a3a2;
        }
            .icon-add-file {
                width:32px;
                height:32px;
                margin-top: 15px;
                margin-left: 12px;
            }
            .content25 {
                flex-grow:1;
                border-bottom:1px solid #a3a3a2;
                padding-top: 16px;
            }
            .icon-micro {
                width:32px;
                height:32px;
                border-bottom:1px solid #a3a3a2;
                margin-top: 16px;
            }
            .icon-dropbox {
                width:32px;
                height:32px;
                border-bottom:1px solid #a3a3a2;
                margin-top: 16px;
            }
    .right3 {
        height:44px;
        background-color: white;
        border-top: 1px solid #ebebeb;
        padding-top: 9px;
        padding-left: 10px;
    }
        .inputr {
            width:347px;
            height:34px;
            border:1px solid #a3a3a2;
            border-radius: 3px;
        }
            .inputr input {
                background-color: white;
                border:none;
                color:#262626;
                font-size: 15px;
                margin-left: 5px;
                margin-top: 6px;
                outline: none;
            }
    .right4 {
        height:43px;
        display:flex;
        background-color:white;
    }
        .right41 {
            height:23.2px;
            width:20px;
            margin-top: 8px;
            margin-left: 8px;
            fill:#a3a3a2;
            cursor: pointer;
        }
        .right42 {
            flex-grow:1;
        }
            .textr4 {
                height:15px;
                width:128.39px;
                color:#a3a3a2;
                text-align: center;
                font-size:10px;
                padding-left: 8px;
                margin-left: 81px;
                margin-top: 14px;
            }
        .right43 {
            height:23.2px;
            width:20px;
            margin-top: 6px;
            margin-right: 6px;
            fill:#a3a3a2;
        }

/* .undisplay {
    display:none;
} */
.display {
    display:flex;
}
.undisplay {
    display:none;
}
.display1 {
    display:block !important;
}
.hidden{
    display: none ;
}
.color-hover {
    background-color: #e1f2fe;
}
.something {
    width:45px !important;
}
.ok {
    width:280px ;
}
.leftco .something .class-an {
    display:none;
}
.midco .class-an {
    display:none;
}
.rightco.display.class-width {
    width: 100% ;
}
.class-an {
    display:none;
}

